/* You can add global styles to this file, and also import other style files */

html,
body {
  font-family: "Roboto", sans-serif;
  height: 100%;
  font-size: 1.1rem;
}

body,
h1 {
  margin: 0;
}

a {
  color: white;
  text-decoration: none;
}

label{
  margin-right: 1rem;
}

select{
  width: 5rem;
  font-size: 1rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  height: 12%;
  margin-bottom: 3rem;
  box-shadow: 0 8px 6px -6px black;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  min-height: 70%;
  width: 60%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.quote-display-container {
  margin-top: 3rem;
  padding: 1.5rem;
  border-radius: 10px;
  border: 1px solid black;
}

#quotes-display {
  display: flex;
  flex-direction: column;
}

.selection-container {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selection-item {
  margin: 1rem 0;
}
.btn {
  font-size: 1rem;
  margin-top: 1rem;
  cursor: pointer;
  padding: 0.9rem 1.1rem;
  border: 0px;
  border-radius: 10px;
  background: #000;
  color: #ffffff;
  transition: background-color 100ms linear;
  min-width: 50%;
}

.btn:focus {
  outline: 0;
}

.btn:hover {
  background: #212121;
  color: #ffffff;
}

.exit {
  margin-top: 2rem;
  color: red;
}

.goodbye {
  margin-top: 5rem;
  text-align: center;
  font-size: 3rem;
}
